
<!DOCTYPE html>
<meta charset="utf-8">
<html>
<script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js" type="text/javascript"></script>
<head>
</head>
<body>

  <div id="sidebar">
    <h1>Home Rental Statistics of San Diego</h1>
    <div id="sidecontent">stuff goes here</div>
    <svg class="chart"></svg>
    <!--<div id="map"></div>-->
  </div>
  <div id="jsmap">
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASG2S-WOZs34FgorPUaLA1xyUmCE0pE_Q&callback=initMap"></script>
  <script>

      function initMap() {
      	var center = new google.maps.LatLng(32.9770911, -117.2448969);
		var options = {
  			'zoom': 10,
  			'center': center,
  			'mapTypeId': google.maps.MapTypeId.ROADMAP
		};

		var map = new google.maps.Map(document.getElementById("jsmap"), options);

		var markers = [];
		{{#each locations}}
  			var latLng = new google.maps.LatLng({{latitude}}, {{longitude}});
  			var marker = new google.maps.Marker({'position': latLng});
  			markers.push(marker);
		{{/each}}
		var markerCluster = new MarkerClusterer(map, markers);
    /*  	var map = new google.maps.Map(document.getElementById('jsmap'), {
          zoom: 10,
          center: {lat: 32.9770911, lng: -117.2448969}
        });
      	{{#each locations}}
      	console.log('{{name}}');
        var marker = new google.maps.Marker({
          position: {lat: {{latitude}}, lng: {{longitude}} },
          map: map,
          title: '{{name}}'
        });
        {{/each}} */
      }
    </script>
  </div>

</body>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="../js/index.js"></script>

</html> 

<!--
	Copyright 2016 Gabriel Gaddi

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

-->