
<!DOCTYPE html>
<meta charset="utf-8">
<html>
<script src="//google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js" type="text/javascript"></script>
<head>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

</head>
<body>

  <div id="sidebar">
    <h1>Home Rental Statistics of San Diego</h1>
    <div id="sidecontent">

      <ul class="tabs">
        <li num="1" class="tab-link curr-tab" data-tab="tab-1">All Districts</li>
        
      </ul>


      <div id="contents">
        <div id="tab-1" class="tab-content current">
          Click on a district below or a marker on the map to display rental information
          <hr>
          <div></div>
          {{#each locations}}
          <button id="link" value = '{{name}}'>{{name}}</button>
          {{/each}}
          <hr>
            <h2 id="current-title"></h2>
            <div id = "city"></div>
           <svg class="chart"></svg>

        </div>
      </div>

    </div>

    <!--<div id="map"></div>-->
  </div>
  <div id="jsmap">
  <script type="text/javascript" src="./js/index.js"></script>
  <script>
    function initMap() {
      	console.log("I only work sometimes for some reason");
      	var center = new google.maps.LatLng(32.9770911, -117.2448969);
    		var options = {
  			'zoom': 10,
  			'center': center,
  			'mapTypeId': google.maps.MapTypeId.ROADMAP
		    };

		var map = new google.maps.Map(document.getElementById("jsmap"), options);

		var markers = [];
		{{#each locations}}
  			var latLng = new google.maps.LatLng({{latitude}}, {{longitude}});
  			var marker = new google.maps.Marker({position: latLng, title:'{{name}}' });
  			markers.push(marker);
		{{/each}}
		var markerCluster = new MarkerClusterer(map, markers);
     markers.map(function(single){
    var areaName=single.title;
      single.addListener('click', function() {
        
        renderPie(areaName);
      });
    });

 map.addListener('zoom_changed', function() {
    // 3 seconds after the center of the map has changed, pan back to the
    // marker.
    
    var zoom = map.getZoom();
    if(zoom <= 8){
      window.setTimeout(function() {
      map.setZoom(10);
      map.setCenter(center);

    }, 2000);
    }
    
  });
   
    
}
 function  renderPie(areaName) {
}
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASG2S-WOZs34FgorPUaLA1xyUmCE0pE_Q&callback=initMap"></script>
  </div>

</body>

<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>

</html> 

<!--License use for marker clusterer
  
Copyright 2014 Google Inc. All rights reserved

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

-->