
<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
</head>
<body>

  <div id="sidebar">
    <h1>Home Rental Statistics of San Diego</h1>
    <div id="sidecontent">

      <ul class="tabs">
        <li num="1" class="tab-link curr-tab" data-tab="tab-1">All Districts</li>
        <li num="2" class="tab-link" data-tab="tab-2">Current District</li>
      </ul>


      <div id="contents">
        <div id="tab-1" class="tab-content current">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. abt

          <svg class="chart"></svg>
        </div>
        <div id="tab-2" class="tab-content">
           Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. proj
        </div>
      </div>

    </div>

    <!--<div id="map"></div>-->
  </div>
  <div id="jsmap">
  <script>

      function initMap() {
      	var map = new google.maps.Map(document.getElementById('jsmap'), {
          zoom: 10,
          center: {lat: 32.9770911, lng: -117.2448969}
        });
      	{{#each locations}}
      	console.log('{{name}}');
        var marker = new google.maps.Marker({
          position: {lat: {{latitude}}, lng: {{longitude}} },
          map: map,
          title: '{{name}}'
        });
        {{/each}}
      }
    </script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASG2S-WOZs34FgorPUaLA1xyUmCE0pE_Q&callback=initMap"
  ></script>
  </div>

</body>

<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="../locations.json"></script>
<script type="text/javascript" src="../js/index.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASG2S-WOZs34FgorPUaLA1xyUmCE0pE_Q&callback=initMap"
  async defer></script>


</html> 