	<link rel="stylesheet" href="/css/map.css">

	<div id="dragme" class="change">
		<div id="dragin">

			<div id="collapse">x</div>


			<div class="solosd"> solo<b>sd</b> </div>

			<div class="border"></div>

			<h2>where to?</h2>
			<form id="places">
			  <input type="checkbox" name="gender" value="parks" checked> <span class="desc">parks</span><br>
			  <input type="checkbox" name="gender" value="cemeteries"> <span class="desc">cemeteries</span><br>
			  <input type="checkbox" name="gender" value="canyons"> <span class="desc">canyons</span>
			</form>

			<div class="border"></div>

			<h2>show nearby:</h2>
			<form id="places">
			  <input type="checkbox" name="gender" value="parks" checked> <span class="desc">clinics</span><br>
			  <input type="checkbox" name="gender" value="cemeteries"> <span class="desc">police stations</span><br>
			  <input type="checkbox" name="gender" value="canyons"> <span class="desc">eateries</span>
			</form>

			<div class="border"></div>

			<div id="credits">cogs121 | team p | sp2016</div>

		</div>
	</div>



	<div id="infome" class="change">
		<div id="infoin">
			<div class="solosd">information</div>

			<div class="entry">
				<img src="https://placehold.it/200x75" class="placeimg"/>
				<div  id="currplace" class="placename">name of place</div>
				<div class="information">
					<b >nearest police station:</b>
					<b id="nearestPolice">5 mi.</b>
					<b >nearest clinic:</b> 
					<b id=nearestHospital>8 mi</b>.
				</div>
			</div>

			<button type="button" class="locationbutton">save location</button>

		</div>
	</div>


	<div id="scrollhere" class="change">
		view saved locations
	</div>



	<div id="statspage" class="change">
		<img src="https://i.gyazo.com/be36c4234886f63d677c68960a760c72.png"/>
	</div>

	<div id="map"></div>


	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="/js/map.js"></script>
    <script src="/js/d3.min.js"></script>


	<script>
		L.mapbox.accessToken = 'pk.eyJ1IjoidnJuYyIsImEiOiJjaW85a2E1dG4wMzZrdnBrajFqZHV3aTYwIn0.BVUSKwO5hVenIwMkR-_DrA';
		    var map = L.mapbox.map('map', 'mapbox.streets')
		        .setView([32.9770911, -117.2448969], 9);

		    var markers = new L.MarkerClusterGroup();
		    var markerList=[];
		    {{#each parks}}
		        
		        var title = '{{name}}';
		        var marker = L.marker(new L.LatLng({{latitude}}, {{longitude}}), {
		            icon: L.mapbox.marker.icon({'marker-symbol': 'post', 'marker-color': '0044FF'}),
		            title: title
		        });
		        marker.bindPopup(title);

		        markers.addLayer(marker);
		        markerList.push(marker);
		    {{/each}}

		    for(var i=0;i<markerList.length;i++){
		    	console.log(i);
		    	markerList[i].on('click',function(e){
		    		console.log("this"+e.target._latlng.lat,e.target._latlng.lng);
		    		var result=getNearestHospital(e.target._latlng.lat,e.target._latlng.lng);
		    	});
		    }
		    
		
		    map.addLayer(markers);


		</script>
