	<link rel="stylesheet" href="/css/map.css">

	<link href="/c3/c3.css" rel="stylesheet" type="text/css">
	  <script src="/js/d3.min.js"></script>
	<script src="/c3/c3.min.js"></script>

	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<div id="dragme" class="change">
		<div id="dragin">

			<div id="collapse">x</div>


			<div class="solosd"> solo<b>sd</b> </div>

			<div class="border"></div>
			<section>
			<h2>Where are U?</h2>
			<button onclick="findme()">Find Me</button><br>
			<a id="geolocate"> </a>
			</section>
			<h2>where to?</h2>
			<form id="places">
			  <input type="checkbox" name="parks" value="parks" onclick="oncheck(this)"> <span class="desc">parks</span><br>
			  <input type="checkbox" name="cemeteries" value="cemeteries" onclick="oncheck(this)"> <span class="desc">cemeteries</span><br>
			  <input type="checkbox" name="canyons" value="canyons" onclick="oncheck(this)"> <span class="desc">canyons</span>
			</form>

			<div class="border"></div>

			<div id="credits">cogs121 | team p | sp2016</div>

		</div>
	</div>



	<div id="infome" class="change">
		<div id="infoin">
			<div class="solosd">information</div>

			<div class="entry">
				<img  id="parkImg"  src="" class="placeimg"/>
				<div  id="currplace" class="placename">name of place</div>
				<div class="information">
					<b >nearest police station:</b>
					<button onclick="showPolice()">show it</button>
					<b id="nearestPolice">5 mi.</b>
					
					<b >nearest clinic:</b> 
					<button onclick="showClinic()">show it</button>
					<b id=nearestHospital>8 mi</b>
					
				</div>
			</div>
			<div class="border"></div>
			<a  class="w3-tooltip">
			<h2>show nearby</h2>
			<span class="w3-text">U may wanna avoid these!</span>
			</a>
			<form id="places">
			  <input type="checkbox" name="beverage" value="beverage" onclick="oncheck(this)"> <span class="desc">Beverage</span>
			  <span class="desc" id="beverageMsg"></span><br>

			  <input type="checkbox" name="food" value="food" onclick="oncheck(this)"> <span class="desc">Food</span>
			  <span class="desc" id="foodMsg"></span><br>
			  <input type="checkbox" name="grocery" value="grocerys" onclick="oncheck(this)">
			  <span class="desc">Grocery</span>
			  <span class="desc" id="groceryMsg"></span>
			</form>

			<button type="button" class="locationbutton" onclick="saveLocation()">save location</button>

		</div>
	</div>


	<div id="scrollhere" class="change">
		view saved locations
	</div>



	<div id="statspage" class="change">
		<!--<img src="https://i.gyazo.com/be36c4234886f63d677c68960a760c72.png"/>-->
		<div id="place1">
			<span id="placeName"></span>
			<div id="img"><img id="placeImg"></div>
			<div id="policeDistanceCompare"></div>
			<div id="hospitalDistanceCompare"></div>

			<div id="nearByStatistic">
				<div id="chart"></div>
			<script type="text/javascript">
				var chart = c3.generate({
				    data: {
				        columns: [
				            ['data1', 30, 200, 100, 400, 150, 250],
				            ['data2', 130, 100, 140, 200, 150, 50]
				        ],
				        type: 'bar'
				    },
				    bar: {
				        width: {
				            ratio: 0.5 // this makes bar width 50% of length between ticks
				        }
				        // or
				        //width: 100 // this makes bar width 100px
				    }
				});
			</script>>

			</div>
		</div>
	</div>

	<div id="map"></div>


	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="/js/map.js"></script>
    <script src="/js/d3.min.js"></script>


	<script>
		L.mapbox.accessToken = 'pk.eyJ1IjoidnJuYyIsImEiOiJjaW85a2E1dG4wMzZrdnBrajFqZHV3aTYwIn0.BVUSKwO5hVenIwMkR-_DrA';

		//set zoom bound 
		var southWest = L.latLng(32.70, -117.361),
		    northEast = L.latLng(33.100, -116.536),
		    bounds = L.latLngBounds(southWest, northEast);


		    var map = L.mapbox.map('map', 'mapbox.streets',{
		    		    maxBounds: bounds,
					    maxZoom: 19,
					    minZoom: 10
		   		 })
		        .setView([32.9770911, -117.2448969], 9);
		    var parkMarkers = new L.MarkerClusterGroup();
			var cemetryMarkers = new L.MarkerClusterGroup();
			var canyonsMarkers = new L.MarkerClusterGroup();
			var hospitalMarker;
			var policeMarker;
			var foodMarker= new L.MarkerClusterGroup({
			  
			      iconCreateFunction: function(cluster) {
			        return L.mapbox.marker.icon({
			 
			          'marker-symbol': cluster.getChildCount(),
			          'marker-color': '#ffcc80',
			          'marker-size':'medium'
			        });
			      }
			    });
			var beverageMarker= new L.MarkerClusterGroup({
			  
			      iconCreateFunction: function(cluster) {
			        return L.mapbox.marker.icon({
			 
			          'marker-symbol': cluster.getChildCount(),
			          'marker-color': '#99ffff',
			          'marker-size':'medium'
			        });
			      }
			    });
			var groceryMarker= new L.MarkerClusterGroup({
			  
			      iconCreateFunction: function(cluster) {
			        return L.mapbox.marker.icon({
			 
			          'marker-symbol': cluster.getChildCount(),
			          'marker-color': '#d98c8c',
			          'marker-size':'medium'
			        });
			      }
			    });

		</script>
