<!doctype html>
<html>
<head>
  <title>HELP</title>	
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/map.css"></head>
</head>

<body>
    
	<div id="dragme">
		<div id="solosd"> solo<b>sd</b> </div>

		<div class="border"></div>

		<h2>where to?</h2>
		<form id="places">
		  <input type="checkbox" name="gender" value="parks" checked> <span class="desc">parks</span><br>
		  <input type="checkbox" name="gender" value="cemeteries"> <span class="desc">cemeteries</span><br>
		  <input type="checkbox" name="gender" value="canyons"> <span class="desc">canyons</span>
		</form>

		<div class="border"></div>

		<h2>show nearby:</h2>
		<form id="places">
		  <input type="checkbox" name="gender" value="parks" checked> <span class="desc">clinics</span><br>
		  <input type="checkbox" name="gender" value="cemeteries"> <span class="desc">police stations</span><br>
		  <input type="checkbox" name="gender" value="canyons"> <span class="desc">eateries</span>
		</form>

		<div class="border"></div>

		<div id="credits">cogs121 | team p | sp2016</div>

	</div>

	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="/js/map.js"></script>
    <script src="/js/d3.min.js"></script>
</body>
</html>



