#map {
	width: 1280px;
	height: 1280px;
	background-image: url("http://maps.googleapis.com/maps/api/staticmap?center=SanDiego&size=640x640&scale=2&style=element:labels|visibility:on&style=element:geometry.stroke|visibility:off&style=feature:landscape|element:geometry|saturation:-100&style=feature:water|saturation:-100|invert_lightness:true&key=AIzaSyC-ei_b2CWVhDAm0LGgJqthcUCWJ-Kiy9s");
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}


#sidebar {
	float: left;
	width: 32vw;
	height: 100%;
	background-color: #fff;
	padding: 0px 10px 0px 10px;
	overflow: auto;
}

::-webkit-scrollbar { 
    display: none; 
}

#sidebar h1 {
	text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: -1px;
  color: #000000;
  line-height: 50px;
  border-bottom: #000000 2px solid;
  margin: 5px 0px 5px 0px;
}

#jsmap {
	height: 100%;
}

.chart {
  display: block;
  height:400px;
  margin-left: auto;
  margin-right: auto;
}

.chart .legend {
  fill: black;
  font: 18px sans-serif;
  text-anchor: start;
}

.chart text {
  fill: #000;
  font-size: 1em;
  text-anchor: end;
}

.chart .label {
  fill: black;
  font: 11px sans-serif;
  text-anchor: end;
}

.bar:hover {
  fill: brown;
}

.axis path,

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tabs {
  width: 32vw;
  margin: auto;
  padding: 0px;
  list-style: none;
}

.tabs li {
  display: inline-block;
  height: 40px;
  width: 15vw;
  line-height: 40px;
  text-align: center;
  font-size: 25px;
  font-family: "Open Sans",sans-serif;
  color: #222222;
  text-decoration: none;
  letter-spacing: -2px;
  color: #000000;
}

.curr-tab {
  color: #0066cc!important;
}

.tab-content {
  display: none;
  font-family: "Open Sans",sans-serif;
  font-size: 15px;
  padding: 5px;
}

.current {
  display: block!important;
}

.content {
  clear: both;]
}
/*#link { 
  background:none;
  border:none; 
} */