#dragme { 
  position: absolute;
  cursor: move;
  left: 0;
  top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
  background: #ffffff; 
  border: 1px  solid #999999; 
  border-radius: 4px; 
  z-index: 100;
  margin: 10px 0px 0px 50px;
  overflow: hidden;
}


#infome { 
  position: absolute;
  cursor: move;
  right: 0;
  top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
  background: #ffffff; 
  border: 1px  solid #999999; 
  border-radius: 4px; 
  z-index: 100;
  margin: 10px 10px 0px 0px;
  overflow: hidden;
}

#dragin, #infoin {
  padding: 8px 8px 16px 8px;
  text-align: center;
  width: 225px; 
}

.solosd {
	font-family: "Trebuchet MS";
	color: #cccccc;
	font-size: 35px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.solosd b {
	color: #73b6e6;
}

#credits {
	font-family: 'Trebuchet MS';
	font-size: 9px;
	color: #dddddd;
}

.border {
	width: 70px;
	background-color: #dddddd;
	height: 1px;
	line-height: 1px;
	overflow: hidden;
	margin: 20px auto;
}

h2 {
	font-family: "Trebuchet MS";
	color: #cccccc;
	font-size: 25px;
	font-weight: normal;
	padding: 0px;
	margin: 10px 0px 10px 40px;
	text-align: left;
}

.placename {
	font-family: "Trebuchet MS";
	color: #222222;
	font-size: 15px;
	font-weight: bold;
	padding: 0px;
	background-color: rgba(255,255,255,.8);
	height: 20px;
	line-height: 20px;
	margin: -30px 0px 15px 0px;
	position: relative;
	z-index: 3;
}

form {
	text-align: left;
	font-family: 'Consolas';
	font-size: 12px;
	line-height: 15px;
	margin-left: 40px;
}

.desc {
	line-height: 10px;
	vertical-align: text-top;
}

#logo {
	width: 200px;
	height: 200px;
	text-align: center;
}

#map {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  /*background-image: url("http://maps.googleapis.com/maps/api/staticmap?center=SanDiego&size=640x640&scale=2&style=element:labels|visibility:on&style=element:geometry.stroke|visibility:off&style=feature:landscape|element:geometry|saturation:-100&style=feature:water|saturation:-100|invert_lightness:true&key=AIzaSyC-ei_b2CWVhDAm0LGgJqthcUCWJ-Kiy9s");*/
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

#collapse, #infocollapse {
	position: absolute;
	top: 0;
	left: 0;
	margin: 10px 0px 0px 20px;
	font-family: "Trebuchet MS";
	z-index: 101;
	cursor: pointer!important;
}

.placeimg {
	margin-top: 10px;
	width: 200px;
	height: 75px;
}

.information {
	font-family: 'Consolas';
	font-size: 12px;
	line-height: 15px;
	margin-top: 25px;
}

.information b {
	display: block;
	text-align: left;
	margin-left: 5px;
	margin-top: 5px;
}

#statspage {
	position: relative;
	margin-top: 100%;
	height: 100%;
	width: 100%;
	z-index: 10;
	background-color: rgba(255,255,255,.75);
	text-align: center;
	overflow: auto;
}

#scrollhere {
	height: 50px;
	width: 300px;
	background-color: #ffffff;
	border-radius: 10px;
	position: absolute;
	z-index: 15;
	bottom: 0;
	text-align: center;
	color: #73b6e6;
	margin: auto;
	left: 0;
	right: 0;
	font-family: "Consolas";
	font-size: 18px;
	font-weight: normal;
	line-height: 50px;	
	border: 1px solid #999999; 
	font-weight: bold;	
	cursor: pointer!important;
}


.change {
	transition: .5s;
	-o-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
}

#dragme button {
	width: 200px;
	margin: auto;
	border: 1px solid #73b6e6;
	border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #73b6e6;
	font-family: 'Consolas';
	font-size: 18px;
	line-height: 25px;
	color: #ffffff;
}

#infome button {
	width: 200px;
	margin: auto;
	border: 1px solid #73b6e6;
	border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #73b6e6;
	font-family: 'Consolas';
	font-size: 18px;
	line-height: 25px;
	color: #ffffff;
	margin: 15px 0px 5px 0px;
}

/*.savedContainer {
  width: 400px;
  white-space: nowrap;
}*/

.savedContainer > div {
	height: 500px;
	width: 300px;
	display: inline-block;
	margin: 10px;
}

#savedPlaces h3 {
	font-family: 'Trebuchet MS';
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 300px;
}

#savedPlaces img {
	width: 250px;
	height: 150px;
}

#moreInfo {
	font-family: 'Consolas';
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 300px;
}

#moreInfo h4 {
	text-align: left;
	font-family: 'Consolas';
	font-weight: bold;
	font-size: 15px;
	margin-left: 25px;
}

#moreInfo .moreDist {
	font-size: 20px;
}

.barChart {
	margin: 0px auto 100px auto;
	width: 75%;
}