#dragme { 
  position: absolute;
  cursor: move;
  left: 0;
  top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
  background: #ffffff; 
  border: 1px  solid #999999; 
  border-radius: 4px; 
  z-index: 100;
  margin: 10px 0px 0px 50px;
  overflow: hidden;
}

#dragin {
  padding: 8px 8px 16px 8px;
  text-align: center;
  width: 225px; 
}

#solosd {
	font-family: "Trebuchet MS";
	color: #cccccc;
	font-size: 35px;
	margin-top: 10px;
	margin-bottom: 0px;
}

#solosd b {
	color: #66d9ef;
}

#credits {
	font-family: 'Trebuchet MS';
	font-size: 9px;
	color: #dddddd;
}

.border {
	width: 70px;
	background-color: #dddddd;
	height: 1px;
	line-height: 1px;
	overflow: hidden;
	margin: 20px auto;
}

h2 {
	font-family: "Trebuchet MS";
	color: #cccccc;
	font-size: 25px;
	font-weight: normal;
	padding: 0px;
	margin: 10px 0px 10px 40px;
	text-align: left;
}

form {
	text-align: left;
	font-family: 'Consolas';
	font-size: 12px;
	line-height: 15px;
	margin-left: 40px;
}

.desc {
	line-height: 10px;
	vertical-align: text-top;
}

#logo {
	width: 200px;
	height: 200px;
	text-align: center;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  </*background-image: url("http://maps.googleapis.com/maps/api/staticmap?center=SanDiego&size=640x640&scale=2&style=element:labels|visibility:on&style=element:geometry.stroke|visibility:off&style=feature:landscape|element:geometry|saturation:-100&style=feature:water|saturation:-100|invert_lightness:true&key=AIzaSyC-ei_b2CWVhDAm0LGgJqthcUCWJ-Kiy9s");*/
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#collapse {
	position: absolute;
	top: 0;
	left: 0;
	margin: 10px 0px 0px 20px;
	font-family: "Trebuchet MS";
	z-index: 101;
	cursor: pointer!important;
}